body {
	background: rgb(230, 230, 230);
	}

h1 {
	color: purple
	}

h2{
	color: yellow
	}

body{
	font-family: Calibri, serif;
	}

body{
	line-height: 2;
 	}

 body{
 	text-align: justify;
 	} 

.profile {
	background: white;
	padding: 70px;
	border: 2px solid yellow;
	margin: 30px; 
	box-shadow: 6px 10px 20px rgba(0,0,0,0.1);
	text-align: center;
	}

.text {
	background: white;
	padding: 20px;
	border: 2px solid purple;
	margin: 30px; 
	box-shadow: 6px 10px 20px rgba(0,0,0,0.1);
	text-align: center;
}

.contact {
	background: white;
	padding: 20px;
	border: 2px solid purple;
	margin: 30px; 
	box-shadow: 6px 10px 20px rgba(0,0,0,0.1);
	text-align: center;
}

p{
	color: black;
	}

#logo{
 border-radius: 200px;
 width: 200px;
}

@media (max-width: 500px) {
	.profile {
		width: 400px;
		padding: 5px;
		margin: 5px;
	}
	}

@media (max-width: 500px) {
	.text {
		width: 400px;
		padding: 5px;
		margin: 5px;
	}
	}

@media (max-width: 500px) {
	.contact {
		width: 400px;
		padding: 5px;
		margin: 5px;
	}
	}